<div class="list-group">
  <% quizzes.each do |quiz| %>
    <%= link_to quiz_path(quiz.id), class: 'list-group-item' do %>
      <strong><%= quiz.title %></strong>
      <span class="pull-right">
        Created by <b><%= quiz.user.name %></b>
        on <%= quiz.created_at.to_formatted_s(:db) %>
      </span>
    <% end %>
  <% end %>
</div>
