<div class="jumbotron">
  <div class="container">
    <h1>Quiz Master</h1>
    <p>Challenge your friends or students with quizzes<p>
    <%= link_to 'Get started', '/auth/auth0', class: 'btn btn-lg btn-primary' %>
  </div>
</div>

<div class="container">
  <%= render partial: 'flash_messages' %>
</div>
